*{
    margin: 0;
    padding: 0;


}


.navber{
    display: flex;
    justify-content:space-between;
    background-color: #1A1A2E;
    padding: 15px 30px;
     color: white;
}
.navber .logo {
   font-size: 22px;
   font-weight: bold;

}
.navber .logo .forge{
    color: #FF6B35;
}
.manu{
     display: flex;
    gap: 10px;
}
.manu a{
    text-decoration: none;
    color: white;
}

.navber button{
  color: white;
  background-color: #FF6B35;
  border: none;
  padding: 5px 12px;

}

.banner{
    background-image: linear-gradient(rgba(20, 15, 12, 0.577)),url('./images/banner.jpg');
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.banner h1{
    padding-bottom: 6px;
}

.service-head{
   text-align: center;
}
.service-container{
    margin-top: 40px;
    
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px 0px 20px 0px;
    
    background-color: #DDDDDD;
}

.card {
    width: 30%;
    background-color: white;
    border-radius: 12px 12px 0 0;
    
}

.card img{
    width: 100%;
    height: 250px;
    border-radius: 12px 12px 0 0;
}

.card button{
    background-color: black;
    color: white;
    border: none;
    padding: 6px 12px;
}

.card h1, p,button{
    margin: 12px 0px 12px 12px ;
}